.button {
  background-color: #ff7900;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  width: 120px;
  transition: all .5s ease;

  &:hover {
    background-color: #dc6701;
  }
}